flask
flask-cors
sqlalchemy
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
dateparser
python-dotenv
flask-sqlalchemy
gunicorn
psycopg2-binary
